
<%= form_tag("/", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<%= link_to 'Sign in with Spotify', '/auth/spotify' %>

<h1>
  <%= @artist.name if @artist %>
</h1>

<% if @random_tracks %>
  <% @random_tracks.each do |track| %>

    <p><%= image_tag(track.album.images[2]["url"]) %> <%= track.name%></p>
  <% end %>
<% end %>