
<%= form_tag("/", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
<h1>
  <%= @artist.name %>
</h1>

<% @random_tracks.each do |track| %>

  <p><%= image_tag(track.album.images[2]["url"]) %> <%= track.name%></p>
<% end %>

<!--<% @artist.albums.uniq.each do |album| %>
  <h3> <%= album.name %> </h3>
  <% album.tracks.each do |track| %>
    <p> <%= track.name%> </p>
  <% end %>
  <hr>
<% end %>
-->